TWITTER_ACCOUNT_ID=22087448
TWITTER_CONSUMER_KEY=r1TBNu6hwz8Xz8ODDa84axkFf
TWITTER_CONSUMER_SECRET=BW2giLwUQUn6lsoZyY8DS8fTQEdC9iekjCfvf0OMp50ZZIU9pR
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAABgHUQEAAAAAyTkvuqx3QUvsmE8Fxg4Au%2FHrl8c%3DKjEoYOk94u1FTAUMY2N2L1Zjl5zYpf8liz52tDD5iSuCTO3vV1
TWITTER_ACCESS_TOKEN=1191707351524491265-fyAUXAhT6EQXYnMk1wf6a3uEIerynu
TWITTER_ACCESS_TOKEN_SECRET=ntZXgYK4lTwsWaCpWzQmXB5eQW6YT7uk2YjxOEEUtsKqH
