TWITTER_ACCOUNT_ID=22043828
TWITTER_CONSUMER_KEY=qJFW2QoQzlLBeY5KK4I81TNPT
TWITTER_CONSUMER_SECRET=aN3uyHG54a42dZIIJbCzzfKvBS1eZ5P0sV0qutikQelpVnwlAR
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAALRcUAEAAAAA4mWSaD1yLIvpsAQZIWWL2w79NW0%3DwgWsRKu28uC5x23v5QF9JqkS6zOAOEImMyplB7lMD3aK82d5d1
TWITTER_ACCESS_TOKEN=1192806705496776704-LfjABsPNFbtS4BangfrKV6e1Pmy06U
TWITTER_ACCESS_TOKEN_SECRET=aMaIvWVatbEG8Gi88m05Zh9Yvl1ni50eReP43U1SyvKBE
